<!DOCTYPE html>
<html ng-app="mod">
<head>
	<title>Project 2 To to List</title>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
		<script src="script.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="ctr">
	<div class="container">
		<h1>To Do List</h1>

		<ul ng-repeat="x in items">
			<li> {{ x }} <span ng-click="delete($index)"> &times; </span></li><hr>
			
		</ul>
		<input type="text" name="name" placeholder="Add New Language" ng-model="new">
		<input type="button" name="add" value="Add" ng-click="addItem()">
	</div>

</body>
</html>